<div data-test-logo class="lg:w-0 lg:flex-1">
  <LinkTo class="flex" @route="index">
    <picture>
      <img
        width="512"
        height="512"
        class="w-auto h-8 sm:h-10"
        src="assets/icons/appicon-512.png"
        alt="Brown Dog"
      />
    </picture>
  </LinkTo>
</div>