<div class="flex flex-col sm:px-6 lg:px-8" data-test-list="user-list">
  <div class="my-4 overflow-x-auto">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div
        class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg"
      >
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th
                class="px-6 py-3 leading-4 tracking-wider text-left text-gray-700 uppercase dark:text-gray-500 rtl:text-right"
              >
                Email
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            {{#each this.sortedUsers as |user index|}}
              <tr data-test-sorted-user="{{index}}">
                <td
                  class="px-6 py-4 leading-5 text-gray-900 dark:text-gray-500 whitespace-nowrap"
                >
                  {{user.email}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>