<button
  type="button"
  data-test-action="logout"
  class="items-center justify-center block w-full px-4 py-2 mt-3 text-lg font-medium leading-6 text-gray-700 border border-gray-300 rounded-md shadow-sm md:mt-0 md:border-2 md:w-auto dark:bg-indigo-900 dark:border-gray-700 dark:text-gray-500 dark:hover:text-gray-200 dark:hover:bg-indigo-700 hover:text-gray-900 hover:bg-gray-100 whitespace-nowrap"
  {{on "click" this.invalidateSession}}
>
  Logout
</button>