{{page-title "Profile"}}
<div data-test-profile-page class="py-4 text-center">
  <div class="flex flex-col sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
      <div
        class="py-6 text-left border shadow sm:rounded-lg sm:px-10 rtl:text-right dark:border-gray-700"
      >
        <Authenticated::Profile::UserForm />
      </div>
    </div>
  </div>
</div>