{{page-title "EmberBaseTemplate"}}
<div class="menu">
  <Site::Logo />
  {{#if this.session.isAuthenticated}}
    <button
      data-test-action="logout"
      type="button"
      {{on "click" this.invalidateSession}}
    >
      Logout
    </button>
    <LinkTo @route="authenticated.profile">
      Profile
    </LinkTo>
  {{else}}
    <LinkTo @route="login">
      Login
    </LinkTo>
    <LinkTo @route="signup">
      Signup
    </LinkTo>
  {{/if}}
</div>
<div class="main">
  {{outlet}}
</div>